<ion-header>
  <ion-toolbar>
    <ion-title>Instructores</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div></div>
      </ion-col>
      <ion-col>
        <div></div>
      </ion-col>
      <ion-col>
        <div></div>
      </ion-col>
      <ion-col>
        <div>
          <ion-button (click)="openModal()">
            <ion-icon name="add-outline"></ion-icon>
            Nuevo Instructor
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
